@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1500px) {

}