$bg-color: #222622;
$card-bg-color: #1d1f1d;
$child-card-bg-color: #2B2F2B;

$small-card: #979797;
$input-bg-color: #979797;
$filter-bg-color: #2B2E2B;
$filter-text-color: #B3B3B3;
$border-color: 2px solid rgba(201, 201, 201, 0.1);

$section-color: #1E211E;

$financi-green: #49AD5A;
$financi-red: #F06970;
$financi-blue: #23ABE6;

$text-color-white: #ffffff;
$text-color-gray: #ffffff98;
$text-color-black: #000000;
$text-button-color: #303030;
$text-color-green: #24572D;

$filter-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-radius: 5px;  