$bg-color: #222622;
$card-bg-color: #121512;
$child-card-bg-color: #2B2F2B;

$small-card: #979797;
$input-bg-color: #979797;

$financi-green: #49AD5A;
$financi-red: #EF5350;
$financi-blue: #168CC0;

$text-color-white: #ffff;
$text-button-color: #00000077;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-radius: 5px;